/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/*
editor_ie.css
===============

This file contains styles to used by all versions of Internet Explorer only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

.cke_button_disabled {
    filter: alpha(opacity=30);
}

.cke_button_off:hover,
.cke_button_off:focus,
.cke_button_off:active {
    filter: alpha(opacity=100);
}

.cke_combo_inlinelabel {
    filter: alpha(opacity=70);
}

a.cke_combo_button:hover .cke_combo_inlinelabel {
    filter: alpha(opacity=100);
}

.cke_toolbox_collapser {
    border: 2px outset #efefef;
}

.cke_toolbox_collapser .cke_arrow {
    margin: 0 1px 1px 1px;
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
    margin-left: 2px;
}

.cke_resizer {
}

.cke_rtl div.cke_dialog_ui_input_text {
    padding-left: 1px;
}

.cke_rtl input.cke_dialog_ui_input_text {
    position: relative;
    right: 1px;
    padding-left: 1px;
}

/* #3766 In the context menu, long labels with second level menu get wrapped */
.cke_menuarrow {
    position: absolute;
    right: 2px;
}

.cke_rtl .cke_menuarrow {
    position: absolute;
    left: 2px;
}

/* END #3766 */
