body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header {
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content {
    padding: 20px;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu {
    background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
    padding: 6px 20px 5px 20px;
    margin: 0px;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

.catalog-product {
    width: 200px;
    border: 1px #000 solid;
    height: 260px;
    vertical-align: middle;
    padding: 5px;
    display: table-cell;
    text-align: center;
    float: left;
    margin: 0px 10px 10px 0px;
}

#catalog-grid .pagination {
    clear: both;
}

.catalog-product img {

}

.selected {
    font-weight: bold;
}

#catalog ul li {
    margin-left: 25px;
}

#catalog .sublevel {
    list-style: none;
}

.list-message, .friends-profile {
    border-top: 1px #CCC solid;
    display: block;
    clear: both;
    padding-bottom: 25px;
}

.list-message-photo, .friends-profile-photo {
    width: 90px;
}

.list-message div, .friends-profile div {
    float: left;
}

.messages-link {
    font-size: 18px;
    display: inline-block;
    background-color: lightcyan;
    border: 1px #6399cd solid;
    margin: 0px 10px 0px 0px;
    padding: 10px;
}

#product-photo img {

}

#product-photo {
    width: 320px;
    margin: 10px 10px 10px 0px;
    float: left;
    display: inline-block;
}

#product-photo {
    background-color: #FFF;
}

#product-photo .jqzoom img {
    border: #999 1px solid;
    text-align: center;
}

#product-photo .product-thumbs {
    clear: both;
    display: block;
}

#product-details h3 {
    border-bottom: 2px #999 solid;
}

#product-details li, #product-details ul {
    margin-left: 10px;
}

#product-details .discount-price, .price {
    font-size: 18px;
}

#product-details .discount-price strong {
    color: #8a1f11;
    font-size: 21px;
}

#product-details .discount-price span {
    text-decoration: line-through;
    color: #000;
}

#product-details {

}

.account-menu li ul li a {
    padding-left: 25px;
    font-size: 95%;
    padding-top: -3px;
}

.outfit-list-item {
    width: 220px;
    border: 1px #6FACCF solid;
    float: left;
    margin: 5px 10px;
    background: #EEE;
    text-align: center;
    height: 270px;
}

.outfit-list-item a:hover {
}

.outfit-list-item strong, .outfit-list-item p {
    width: 100%;
    padding: 0px;
    display: block;
}

.outfit-list-item p.privacy-status {
    background: #6FACCF;
    display: block;
    color: white;
    margin: 0px;
}

.outfit-list-item div {
    text-align: center;
    background: white;
    width: 100%;
}

.outfit-list-item strong {
    background: #B7D6E7;
    color: black;
    font-size: 17px;
    line-height: 25px;
}

.outfit-list-item .update-link {
    display: block;
    padding: 5px 0px;
}

.outfit-list-item .outfit-description {
    color: #000;
    padding: 5px 0px;
}

#outfit-block {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #6FACCF;
    margin-top: 5px;
}

#outfit-block #outfit-name {
    background: none repeat scroll 0 0 #B7D6E7;
    margin: 0px;
    padding: 5px 5px;
}

#outfit-block #outfit-description {
    padding: 5px;
}

#outfit-block #outfit-name h2 {
    margin: 0px;
}

/** SHOW OUTFIT ITEM PAGE **/

.outfit-product-tooltip {
    position: absolute;
}

.outfit-product-tooltip:hover {
    border: 1px solid #000;
}

.outfit-product-card {
    clear: both;
    border: 1px solid #6FACCF;
    background: none repeat scroll 0 0 #EEEEEE;
    margin-bottom: 15px;
    width: 378px;
}

.product-card-image {
    width: 190px;
    display: inline-block;
    background: #FFF;
    padding: 5px 0px;
    text-align: left;
}

.product-card-details {
    display: inline-block;
    vertical-align: top;
    width: 188px;
}

.product-card-details h4 {
    background: none repeat scroll 0 0 #B7D6E7;
    padding: 3px 4px;
    margin: 0px;
}

.product-card-details-dialog {
    text-align: left;
}

.product-card-details-dialog .outfit-product-card {
    margin-bottom: 8px;
}

.product-card-links {
    padding: 5px;
}

.product-card-links button {
    margin: 5px 0px;
}

#new-comment {
    width: 448px;
    height: 80px;
}

.outfit-comment {
    text-align: left;
    vertical-align: top;
}

.outfit-comment-img {
    width: 50px;
}

.outfit-comment-content .icon-remove {
    float: right;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity 0.5s linear;
}

.outfit-comment-content .icon-remove:hover {
    opacity: 1;
}

#outfit-rating {
    padding: 15px 0px 5px 0px;
}

#rating {
    display: inline-block;
}

/** **/